/* Events.css */
body {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-family: "Monterio", sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.events-container .grid > section {
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.events-container h1,
.events-container h2,
.events-container h3,
.events-container h4,
.events-container h5,
.events-container h6 {
  font-family: "Monterio", sans-serif;
  text-align: center;
}

.events-container > div {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inquiry-form form {
  display: flex;
  flex-direction: column;
}

.inquiry-form form label {
  margin-bottom: 10px;
}

.inquiry-form form input,
.inquiry-form form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
