.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Monterio', sans-serif;
    background-image: url('../assets/footer-background1.jpg');
    background-size: cover;
    box-sizing: border-box; /* Includes the padding in the element's width */
}

@media (max-width: 412px) {
    .footer {
        flex-direction: column;
        align-items: flex-start; /* Aligns items to the start of the cross axis */
    }
}

.footer h2, .footer p {
    margin: 0;
}

.footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}