body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.FooterContainer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Monterio", sans-serif;
  box-sizing: border-box;
  background-image: url("../assets/footer-background-main.jpg");
}

/* Rest of your CSS */

@media (max-width: 412px) {
  .footer {
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start of the cross axis */
  }
}

.footer h2,
.footer p {
  margin: 0;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
