/* CSS for HeroCarousel */

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Carousel heading styles */
/* TODO 1: Change to a h1 or <p> tag for Gelateria Del Centro Title Styling. */
.carousel-heading {
  font-family: "Monterio", sans-serif;
  font-size: 5.5vw; /* Relative to the viewport width */
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ffa5b2, #f2ccb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel-heading .text-large {
  font-size: 1.3em; /* Relative to the font-size of .carousel-heading */
  font-weight: bold;
}

.carousel-heading .text-small {
  font-size: 1em; /* Relative to the font-size of .carousel-heading */
  font-weight: normal;
}

/* Slick slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin-top: 50px;
}

/* Slick list styles */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* Slick track styles */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

/* Slick slide styles */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */ /* Commented out to remove drop shadow */
  /* border-right: 1px solid pink; */ /* Commented out to remove divider */
  box-sizing: border-box; /* Include the border in the element's total width and height */
  overflow: hidden;
  border-radius: 0;
}

.slick-slide img {
  display: block;
  width: 100%; /* Set the width to 100% of the container */
  height: 100%; /* Set the height to 100% of the container */
  object-fit: cover; /* Cover the whole area of the container */
  object-position: center; /* Center the image within the container */
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}
