@import url("slick-carousel/slick/slick.css");
@import url("slick-carousel/slick/slick-theme.css");

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 70px;
}

.navbar-left {
  display: flex;
  width: 70%; /* Directly set to 70% of the navbar */
  background-image: url("../assets/scallop-green.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-left .navbar-address {
  align-self: flex-start;
}

.navbar-address {
  font-family: "Sofia Pro SemiBold";
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.navbar-address em {
  font-family: "Georgia", serif;
  font-style: italic;
  text-transform: lowercase;
}

.navbar-left .home-icon {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%; /* Directly set to 30% of the navbar */
  background-image: url("../assets/scallop-pink.png");
  background-repeat: no-repeat;
  background-size: cover; /* Change this from 'cover' to 'contain' */
  background-position: center;
  align-items: flex-start;
}

.navbar-right,
.order-now {
  padding: 0;
  margin: 0;
}

/* Style the order-now hyperlink so it just looks like an all uppercase order now text in monterio that links you to the modal */

.order-now {
  font-family: "Sofia Pro Regular";
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
}

/* Remove the browser default to underline any link */

a:-webkit-any-link {
  text-decoration: none;
}

.order-now a {
  text-decoration: none;
  color: inherit;
}

.home-icon {
  width: 24px; /* Adjust this value to make the icon smaller or larger */
  height: 24px; /* Adjust this value to make the icon smaller or larger */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */

@media (min-width: 769px) {
  .navbar-address {
    /* ... */
    padding-left: 10px; /* Add this line */
    /* ... */
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 50px; /* Adjust this value to reduce the size of the navbar on mobile screens */
  }

  .navbar-left {
    display: none; /* Hide the left side of the navbar on screens smaller than 768px */
  }

  .navbar-right {
    width: 100%; /* Make the right side of the navbar take up the full width on screens smaller than 768px */
    background-image: url("../assets/scallop-green.png"); /* Change the background image to the green scalloped border on screens smaller than 768px */
  }
}
