/* Base styles for modal backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 80%;
  height: 80%;
  margin: auto;
  backdrop-filter: blur(2.8px);
  border-radius: 18px;
  overflow: hidden;
}

/* Container for services */
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles for service logos */
.service-logo {
  width: 150px;
  height: auto;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.7));
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
}

/* Base styles for service cards */
.service-card {
  color: white;
  width: 45%;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}

/* Square button styles */
.service-card.square .order-button {
  background-color: #3e4348;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* DoorDash button styles */
.service-card.doordash .order-button {
  background-color: #ff3008;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* Uber Eats button styles */
.service-card.ubereats .order-button {
  background-color: #06c167;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* GrubHub button styles */
.service-card.grubhub .order-button {
  background-color: #ff5500;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* Styles for modal content */
.modal-content {
  position: relative;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-image: url("../assets/warnors-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

/* Styles for close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: #ff5f5f;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.close-btn:hover {
  background-color: #ff1f1f;
  box-shadow: 0px 15px 20px rgba(2, 2, 2, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .modal-backdrop {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .service-card {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 100%;
    margin: 10px 0;
  }

  .service-card .order-button {
    display: block;
    width: auto;
    margin: 10px auto;
  }

  .service-logo {
    width: 100px;
  }

  .close-btn {
    padding: 5px 10px;
  }
}
