.specials-container {
  text-align: center;
  font-family: Georgia, serif; /* Changes the font family */
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Changes to 2 columns on larger screens */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* Changes to 1 column on medium screens */
  }
}

.special-card {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
  border-radius: 12px; /* Add rounded corners to the cards */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a drop shadow */
}

.special-card img {
  width: 100%;
  height: 200px; /* Set a specific height for the images */
  object-fit: cover; /* Cover the whole area of the container */
  border-radius: 12px; /* Add rounded corners to the images */
}

.special-card:hover {
  transform: scale(1.05); /* Scales the card up slightly */
}

.special-card h2 {
  color: #66cc7f; /* Changes the color of the flavor name to Mint Green */
}
