/* Monterio font */
@font-face {
  font-family: "Monterio";
  src: url("../public/fonts/MonterioRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monterio";
  src: url("../public/fonts/MonterioBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Monterio";
  src: url("../public/fonts/MonterioLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monterio";
  src: url("../public/fonts/MonterioSemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Global Styles for buttons, input fields, select and textareas in Roboto font with Segoe UI and others as backups */
button,
input,
select,
textarea {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}
